.container{
    color: #40514e;
}

.body1{
    background-color: rgb(193, 253, 243);
    margin: 0;
}

p{
    text-align: center;
    font-size: 25px;
    font-family: 'Labrada', serif;
    font-weight: bold;
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-top: 20px;
}


/* .headi{
    position: relative;
    bottom: 0;
} */

.clouds1{
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.tree{
    position: relative;
    top: 13px;
}
    
.skill{
    text-align: center;
    margin-top: 1rem;

}
.python{
    height: 90px;
    width: 90px;

}
.communication{
    height: 90px;
    width: 90px;
}
.zoro1{
    border-radius: 100%;
    height: 150px;
    width: 160px;
    align-items: center;
    margin-top: 60px;
}
.below{
    font-size: 2rem;
}
hr{  background-color: aliceblue;
    border-style:none;
    border-top-style: dotted;    
    border-width: 5px; 
        width: 10%;
    margin-top: 1em;
    }

.foot{
    font-size: x-small;
}
.caption{
    font-size: x-small;
    font-weight: normal;
    color: rgb(0, 0, 0);
}
.middle-container{
    margin-top: 30px;
}
.skills{
    margin-top: 30px;
}
.contact-me{
    margin-top: 30px;
}
h3{
    font-size: xx-large;
}
h2{
    font-size: 3em;
    color: rgb(17, 245, 169);
}
.intro{
    width: 30%;
    margin: auto;
    position: relative;
    bottom: 50px;
}
.mend{
    position: relative;
    bottom: 30px;
}
.web{ 
    width: 30%;
    margin: auto;
    position: relative;
    bottom: 50px;
}
.contact-me{
    position: relative;
    top: 6em;
    margin: 20px;
}
.note{
    position: relative;
    bottom: 40px;
    width: 40%;
}
.bottom-container{
    margin: 40px auto 60px;
    background-color: #85e09c;
    position: relative;
    top:10em;
    padding: 50px 0 20px;

}
.btn {
    background: #34d98f;
    background-image: -webkit-linear-gradient(top, #34d98f, #2980b9);
    background-image: -moz-linear-gradient(top, #34d98f, #2980b9);
    background-image: -ms-linear-gradient(top, #34d98f, #2980b9);
    background-image: -o-linear-gradient(top, #34d98f, #2980b9);
    background-image: linear-gradient(to bottom, #34d98f, #2980b9);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 8em;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  a{
    font-family: 'Playfair Display', serif;
    margin: 6px;
    text-decoration: none;
    font-size: large;
  }
  a:hover {
    background-color: rgb(255, 255, 255);
    font-size: 125%;
  }
  .footer-link2{
    height: 50px;
    width: 50px;
}
.footer-link3{
    height: 50px;
    width: 50px;
}
.footer-link1{
    height: 50px;
    width: 50px;
}